<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="booking">
            <h2><span jhiTranslate="chotelApp.booking.detail.title">Booking</span> {{ booking.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="chotelApp.booking.checking">Checking</span></dt>
                <dd>
                    <span>{{ booking.checking }}</span>
                </dd>
                <dt><span jhiTranslate="chotelApp.booking.checkout">Checkout</span></dt>
                <dd>
                    <span>{{ booking.checkout }}</span>
                </dd>
                <dt><span jhiTranslate="chotelApp.booking.client">Client</span></dt>
                <dd>
                    <div *ngIf="booking.client">
                        <a [routerLink]="['/client', booking.client?.id, 'view']">{{ booking.client?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/booking', booking.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
