<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-hab-heading" jhiTranslate="chotelApp.hab.home.createOrEditLabel">Create or edit a Hab</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="chotelApp.hab.numberRoom" for="field_numberRoom">Number Room</label>
                    <input type="number" class="form-control" name="numberRoom" id="field_numberRoom"
                           formControlName="numberRoom"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="chotelApp.hab.beds" for="field_beds">Beds</label>
                    <input type="number" class="form-control" name="beds" id="field_beds"
                           formControlName="beds"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="chotelApp.hab.availability" for="field_availability">Availability</label>
                    <input type="checkbox" class="form-control" name="availability" id="field_availability"
                           formControlName="availability"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="chotelApp.hab.category" for="field_category">Category</label>
                    <select class="form-control" name="category" formControlName="category" id="field_category">
                        <option value="FAMILIAR">{{ 'chotelApp.Categoria.FAMILIAR' | translate }}</option>
                        <option value="DOBLE">{{ 'chotelApp.Categoria.DOBLE' | translate }}</option>
                        <option value="INDIVIDUAL">{{ 'chotelApp.Categoria.INDIVIDUAL' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="chotelApp.hab.booking" for="field_booking">Client</label>
                    <select class="form-control" id="field_booking" name="booking" formControlName="booking">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bookingOption.id === editForm.get('booking')!.value?.id ? editForm.get('booking')!.value : bookingOption" *ngFor="let bookingOption of bookings; trackBy: trackById">{{ bookingOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
