<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="hab">
            <h2><span jhiTranslate="chotelApp.hab.detail.title">Hab</span> {{ hab.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="chotelApp.hab.numberRoom">Number Room</span></dt>
                <dd>
                    <span>{{ hab.numberRoom }}</span>
                </dd>
                <dt><span jhiTranslate="chotelApp.hab.beds">Beds</span></dt>
                <dd>
                    <span>{{ hab.beds }}</span>
                </dd>
                <dt><span jhiTranslate="chotelApp.hab.availability">Availability</span></dt>
                <dd>
                    <span>{{ hab.availability }}</span>
                </dd>
                <dt><span jhiTranslate="chotelApp.hab.category">Category</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'chotelApp.Categoria.' + hab.category }}">{{ hab.category }}</span>
                </dd>
                <dt><span jhiTranslate="chotelApp.hab.booking">Booking</span></dt>
                <dd>
                    <div *ngIf="hab.booking">
                        <a [routerLink]="['/booking', hab.booking?.id, 'view']">{{ hab.booking?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/hab', hab.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
