<div>
    <h2 id="page-heading">
        <span jhiTranslate="chotelApp.hab.home.title">Habs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-hab" [routerLink]="['/hab/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="chotelApp.hab.home.createLabel">
            Create a new Hab
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="habs?.length === 0">
        <span jhiTranslate="chotelApp.hab.home.notFound">No habs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="habs && habs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>

                    <th scope="col" ><span jhiTranslate="chotelApp.hab.numberRoom">Number Room</span></th>
                    <th scope="col" ><span jhiTranslate="chotelApp.hab.beds">Beds</span></th>
                    <th scope="col" ><span jhiTranslate="chotelApp.hab.availability">Availability</span></th>
                    <th scope="col" ><span jhiTranslate="chotelApp.hab.category">Category</span></th>
                    <th scope="col" ><span >Checking</span></th>
                    <th scope="col" ><span >Checkout</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hab of habs ;trackBy: trackId">

                    <td>{{ hab.numberRoom }}</td>
                    <td>{{ hab.beds }}</td>
                    <td>{{ hab.availability }}</td>
                    <td jhiTranslate="{{ 'chotelApp.Categoria.' + hab.category }}">{{ hab.category }}</td>
                    <td>
                        <div *ngIf="hab.booking">
                            <a [routerLink]="['/booking', hab.booking?.checking, 'view']" >{{ hab.booking?.checking }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="hab.booking">
                            <a [routerLink]="['/booking', hab.booking?.checkout, 'view']" >{{ hab.booking?.checkout }}</a>
                        </div>
                    </td>

                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/hab', hab.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>

                            </button>

                            <button type="submit"
                                    [routerLink]="['/hab', hab.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>

                            </button>


                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
