<div>
    <h2 id="page-heading">
        <span jhiTranslate="chotelApp.client.home.title">Clients</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-client" [routerLink]="['/client/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="chotelApp.client.home.createLabel">
            Create a new Client
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="clients?.length === 0">
        <span jhiTranslate="chotelApp.client.home.notFound">No clients found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="clients && clients.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="chotelApp.client.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="chotelApp.client.secondName">Second Name</span></th>
                    <th scope="col" ><span jhiTranslate="chotelApp.client.cc">Cc</span></th>
                    <th scope="col" ><span jhiTranslate="chotelApp.client.phone">Phone</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients ;trackBy: trackId">
                    <td><a [routerLink]="['/client', client.id, 'view']">{{ client.id }}</a></td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.secondName }}</td>
                    <td>{{ client.cc }}</td>
                    <td>{{ client.phone }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/client', client.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/client', client.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(client)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
