<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="client">
            <h2><span jhiTranslate="chotelApp.client.detail.title">Client</span> {{ client.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="chotelApp.client.name">Name</span></dt>
                <dd>
                    <span>{{ client.name }}</span>
                </dd>
                <dt><span jhiTranslate="chotelApp.client.secondName">Second Name</span></dt>
                <dd>
                    <span>{{ client.secondName }}</span>
                </dd>
                <dt><span jhiTranslate="chotelApp.client.cc">Cc</span></dt>
                <dd>
                    <span>{{ client.cc }}</span>
                </dd>
                <dt><span jhiTranslate="chotelApp.client.phone">Phone</span></dt>
                <dd>
                    <span>{{ client.phone }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/client', client.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
