<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Welcome to the booking management system</h1>
        <p class="lead my-3">Remember to log in with your username: admin and password: scrummer.
            You must manage in the "administration" tab.</p>

    </div>
</div>
<div class="row mb-2">
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">Services</strong>
                <h3 class="mb-0">Room Service</h3>

                <p class="card-text mb-auto">There will be an additional charge for the services, the prices are included in the welcome letter.</p>

            </div>
            <div class="col-auto d-none d-lg-block roomservice">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Experience</strong>
                <h3 class="mb-0">Personal Trainer</h3>

                <p class="mb-auto">Enjoy a personal trainer in our gym, there is no additional charge..</p>

            </div>
            <div class="col-auto d-none d-lg-block personaltraining">

            </div>
        </div>
    </div>
</div>
