/* ==========================================================================
Main page styles
========================================================================== */




.roomservice{
  background: url("../../content/images/rommservice.jpg") ;
  width: 250px;
  height: 280px;
}
.personaltraining{
  background: url("../../content/images/personaltraining.jpeg");
  width: 230px;
  height: 280px;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),

  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/home_beach.jpg') no-repeat center top;
    background-size: contain;
  }
}
